div.appview-container.css-1wrcr25.egzxvld6{
    background-color: #ADE4DB; 
   
}
/* section.css-po3vlj.exg6vvm15{
    color: blue;
} */
div.css-u8hs99.exg6vvm14{
    color: aqua;
}
span.css-10trblm.e16nr0p30{
    color: black; 
}

p {
    color: navy;
    text-indent: 30px;
    text-transform: uppercase;
    font-size: 2rem;
}

code {
    font-size: 2rem;
}